/*
Attempt to add a link icon after each header

h3::after {
  display: inline-block;
  content: ' ';
  background-image: url(https://assets.gitlab-static.net/assets/icon_anchor-297aa9b0225eff3d6d0da74ce042a0ed5575b92aa66b7109a5e060a795b42e36.svg);
  background-size: 16px 16px;
  height: 16px;
  width: 16px;

}
*/

body, input {
    font-family: "Source Sans Pro", -apple-system, Helvetica, Arial, sans-serif;
}
